.title {
    display: flex;
    padding-bottom: 13px;
    font-size: 35px;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    /* min-height: 100dvh */
}

.title p{
    margin: 7px;
}

.subtitle {
    color: darkgray;
    font-size: 20px;
}

.money-bag{
    padding-left: 20px;
    max-height: 31px;
}

.task-element {
    background-color: #161629;
    /* height: 100px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    margin-bottom: 15px;
    margin-top: 20px;
    min-width: 331px;
    flex-direction: column;
}

.task-icon {
    max-height: 33px;
    max-width: 33px;
}

.task-icon {
    margin: 0px;
}

.task-name {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.task-bonus {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: rgb(104, 139, 255);
}

.task-improve-speed {
    display: flex;
    font-weight: bold;
    margin: 0px;
    align-items: flex-end;
}

.task-checked {
    max-height: 33px;
    padding-right: 15px;
}

.task-start {
    padding: 0px 10px;
}

.task-list {
    min-height: 100dvh
}